.landing {
  width: 100%;
  text-align: center;
}

.landing h1 {
  margin: 20px 0;
  font-size: 2rem;
  font-weight: 700;
  color: #ef5734;
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.singleCategory a {
  width: 200px;
  padding: 10px 0;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ffcc2f;
  color: #ef5734;
  font-weight: 700;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.singleCategory a:hover {
  color: #2baf2b;
}

.video {
  background-color: #e1ffe1;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.ytVideo {
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}
